.card{
    z-index: 1 !important;
}


.download-btn{
    border: 1px var(--app-theme) solid;
    color: var(--app-theme);
}

.download-btn:hover{
    color: #fff;
    background: var(--app-theme);
    box-shadow: 0 0 5px var(--app-theme);
}